{
  "extends": [
      "airbnb",
      "prettier",
      "prettier/react"
  ],
  "parser": "babel-eslint",
  "plugins": [
      "react",
      "prettier"
  ],
  "env": {
      "browser": true,
      "es6": true,
      "node": true,
      "jest": true
  },
  "globals": {
      "expect": true,
      "jest": true
  },
  "rules": {
      "prettier/prettier": "error",
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "react/prop-types": 0,
      "react/react-in-jsx-scope": 0
  }
}
