
.mainWrapper {
    width: auto;
    margin: 0 auto;
    display: flex;
}

a {
    color: #d8822b;
    font-weight: bold;
    cursor: pointer;
    font-family: "Avenir";
    text-decoration: none;
}

h1.title {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    display: block;
    float: left;
}

h1.title {
    font-size: 74px;
    line-height: 66px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-content: center;
    justify-content: center;
    width: fit-content;
    align-items: center;
    margin: 3vh auto 4vh auto;
}

.col-sm {
    position: relative;
    width: fit-content;
    padding-right: 15px;
    padding-left: 15px;
}

/*Game CSS*/

.gameContainer {
    justify-content: center;
    display: flex;
}

.scorerValue {
    color:#f9f6f2;
    font-weight: bold;
}

.scorer{
    margin:10px 10px;
    height: 5vh;
    width: 19vh;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;	
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 3vh;
}

.dashboard{
	/* position:relative; */
	top:5%;
	left:5vw;
	width:40vw;
	height:40vw;
	background: #bbada0;
}

.cell{
	height:25%;
	width:25%;
	background: #cdc1b4;
    border-radius: 100px;
}



.number {
	height:100%;
	width:100%;
	border-radius: 5px;
	transition:transform 1s;
	display:flex;
	justify-content: center;
	align-items: center;
	transition:transform 0.08s linear;
	transform:scale(1);
	background: red;
	font-size: 27px;
    color:#f9f6f2;
    font-weight: bold;
}

.n0{
	font-size: 50px;
	color:#776e65;
    background:#eee3d6;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}
.n2{
	font-size: 50px;
	color:#776e65;
    background:#ede0c8;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}
.n4{
	font-size: 50px;
	color:#776e65;
    background:#ede0c8;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}
.n8{
	font-size: 50px;
	color:#f9f6f2;
    background:#f2b179;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}
.n16{
    font-size: 50px;
    color: #f9f6f2;
    background: #f59563;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}
.n32{
	font-size: 50px;
	color:#f9f6f2;
    background:#f67e5f;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}
.n64{
	font-size: 50px;
	color:#f9f6f2;
    background:#f65e3b;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}
.n128{
	color:#f9f6f2;
	background:#f1d96b;
    font-size:37px;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}
.n256{
	font-size: 37px;
	color:#f9f6f2;
    background:#f2cf4d;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}
.n512{
	font-size: 37px;
	color:#f9f6f2;
    background:#e5c12b;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}
.n1024{
	font-size: 27px;
	color:#f9f6f2;
    background:#dfba12;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}
.n2048{
	font-size: 27px;
	color:#f9f6f2;
    background:#edc501;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}



/*Landing Page CSS*/

.headingStyle {
    width: 100%;
    height: 100%;
    background: #FF7777;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34vh;
}

.headingStyle h1 {
    height: 100px;
}

.headingStyle h1 span {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    font-family: 'Titan One', cursive;
    font-size: 14vh;
    color: #FFF;
    text-shadow: 0 1px 0 #CCC, 0 2px 0 #CCC, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, .4);
}

.headingStyle h1 span:nth-child(2) {
    animation-delay: .1s;
}

.headingStyle h1 span:nth-child(3) {
    animation-delay: .2s;
}

.headingStyle h1 span:nth-child(4) {
    animation-delay: .3s;
}

.headingStyle h1 span:nth-child(5) {
    animation-delay: .4s;
}

.headingStyle h1 span:nth-child(6) {
    animation-delay: .5s;
}

.headingStyle h1 span:nth-child(7) {
    animation-delay: .6s;
}

.headingStyle h1 span:nth-child(8) {
    animation-delay: .7s;
}
.headingStyle h1 span:nth-child(9) {
    animation-delay: .8s;
}

.headingStyle h1 span:nth-child(10) {
    animation-delay: .9s;
}

.headingStyle h1 span:nth-child(11) {
    animation-delay: 1.0s;
}

.headingStyle h1 span:nth-child(12) {
    animation-delay: 1.1s;
}

.headingStyle h1 span:nth-child(13) {
    animation-delay: 1.2s;
}

.headingStyle h1 span:nth-child(14) {
    animation-delay: 1.3s;
}

.headingStyle h1 span:nth-child(15) {
    animation-delay: 1.4s;
}
.headingStyle h1 span:nth-child(16) {
    animation-delay: 1.5s;
}
@keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 1px 0 #CCC, 0 2px 0 #CCC, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 #CCC, 0 7px 0 #CCC, 0 8px 0 #CCC, 0 9px 0 #CCC, 0 50px 25px rgba(0, 0, 0, .2);
    }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/*==========  Non-Mobile First Method  ==========*/

/*Above */
@media only screen and (min-width: 1201px) {}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}
